/* TYPOGRAPHY */

/* ICONS */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $sp6;  /* Preferred icon size */
  display: inline-block;
  line-height: $sp6;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.icon.icon-sm {
  font-size: $sp4;
}

.icon.icon-lg {
  font-size: $sp9;
}

.icon.icon-xl {
  font-size: $sp12;
}

/* Rules for using icons as black on a light background. */
.icon.icon-disabled {
  color: $gray;
}

/* Rules for using icons as white on a dark background. */
.icon.icon-light {
  color: $white;
}
.icon.icon-light.icon-disabled {
  color: $light-gray;
}

/* HEADERS */

h1, h3, h6 {
  font-family: $sans-serif-font;
}

h1, h4 {
  color: $black;
}

h3, h6 {
  color: $gray;
}

h2, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: $sp9;
  line-height: $sp10;
}

h2 {
  font-size: $sp8;
  line-height: $sp9;
}

h3 {
  font-size: $sp7;
  line-height: $sp8;
}

h4 {
  font-size: $sp6;
  line-height: $sp7;
}

h5 {
  font-size: $sp5;
  line-height: $sp6;
}

h6 {
  font-size: $sp4;
  line-height: $sp5;
  font-weight: 400;
  text-transform: uppercase;
}

/* LINKS */

a {
  color: $purple;
  text-decoration: underline;

  &:visited {
    color: $dark-purple;
  }

  &:hover {
    color: lighten($purple, 10%);
  }
}

ul {
  li {
    margin-bottom: $sp1;
  }
}

/* OTHER */

.error {
  color: $orange;
}

.subtext {
  color: $gray;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ALIGNMENT */

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}