/* Variables */

// Fonts
$serif-font: 'Karma', serif;
$sans-serif-font: 'Anonymous Pro', serif;
$base-font-size: 1rem;

// Colors

$black: #000000;
$white: #FFFFFF;
$dark-gray: #614F36;
$gray: #958D80;
$light-gray: #C2BAAF;
$lighter-gray: #EFEAE3;
$dark-purple: #3B2D71;
$purple: #6247CC;
$brown: #B2723E;
$orange: #FFB172;
$green: #9AFF9C;
$yellow: #FFE69A;

// Spacing - multiples of 4

$sp1: .25rem; // 4px
$sp2: .5rem; // 8px
$sp3: .75rem; // 12px
$sp4: 1rem; // 16px
$sp5: 1.25rem; // 20px
$sp6: 1.5rem; // 24px
$sp7: 1.75rem; // 28px
$sp8: 2rem; // 32px
$sp9: 2.25rem; // 36px
$sp10: 2.5rem; // 40px
$sp11: 2.75rem; // 44px
$sp12: 3rem; // 48px

/* Screen sizes */

// Small smartphones
$screen-xs: 480px;

// Large smartphones
$screen-sm: 640px;

// Tablets
$screen-md: 768px;

// Small desktops
$screen-lg: 960px;

// Large desktops
$screen-xl: 1280px;