@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Karma');

/* Variables */

$serif-font: 'Karma', serif;
$sans-serif-font: 'Anonymous Pro', serif;

$black: #000000;
$white: #FFFFFF;
$dark-gray: #614F36;
$gray: #958D80;
$light-gray: #C2BAAF;
$lighter-gray: #EFEAE3;
$dark-purple: #3B2D71;
$purple: #6247CC;
$brown: #B2723E;
$orange: #FFB172;
$green: #9AFF9C;
$yellow: #FFE69A;

/* MISC */

* {
  box-sizing: border-box;

  &:focus {
    outline: 1px dotted $gray;
  }
}

/* TYPOGRAPHY */

body {
  font-family: $serif-font;
  color: $dark-gray;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
}

h1, h3, h6 {
  font-family: $sans-serif-font;
}

h1, h4 {
  color: $black;
}

h3, h6 {
  color: $gray;
}

h2, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: $purple;
  text-decoration: underline;

  &:visited {
    color: $dark-purple;
  }

  &:hover {
    color: lighten($purple, 10%);
  }
}

.error {
  color: $orange;
}

.subtext {
  color: $gray;
}

/* BUTTONS */

button, input, select {
  border-radius: .25rem;
  height: 3rem;
  padding: .5rem .875rem;
  font-size: 1rem;
  display: inline-block;
  background-color: $white;
}

button, input[type="submit"], .button {
  -webkit-appearance: none;
  border: 0;
  font-family: $sans-serif-font;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &.button-primary {
    color: $white;
    background-color: $purple;

    &:visited {
      background-color: $purple;
    }

    &:hover {
      background-color: lighten($purple, 10%);
    }

    &:active {
      background-color: $dark-purple;
    }
  }

  &.button-secondary {
    color: $purple;
    background-color: $white;
    border-color: $purple;

    &:visited {
      color: $purple;
      border-color: $purple;
    }

    &:hover {
      color: lighten($purple, 10%);
      border-color: lighten($purple, 10%);
    }

    &:active {
      color: $dark-purple;
      border-color: $dark-purple;
      background-color: $lighter-gray;
    }
  }

  &[disabled] {
    color: $dark-gray;
    background-color: $light-gray;
  }
}

/* FORMS */

select, input:not([type="button"]) {
  border: 1px solid $light-gray;
  font-family: $serif-font;
  color: $dark-gray;
}

input {
  &:not([type="button"]):not([type="checkbox"]):not([type="radio"]) {
    -webkit-appearance: none;
    padding-top: .7rem;

    &:focus {
      outline: none;
      border-color: $gray;
    }
  }

  &[type="radio"], &[type="checkbox"] {
    vertical-align: middle;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $gray;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $gray;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $gray;
  }
}

label {
  font-weight: 600;
  display: block;

  input:not([type="button"]):not([type="checkbox"]):not([type="radio"]) {
    margin-top: .25rem;
  }
}

/* Alerts */

.alert {
  padding:1rem 1rem .8rem;
  text-align: center;

  &.alert-success {
    background-color: $green;
  }

  &.alert-warning {
    background-color: $yellow;
  }

  &.alert-error {
    background-color: $orange;
  }
}

/* SPACING */
// .column-container {
//   display: grid;
// }

// .column-container-4 {
//   grid-template-columns: 1fr 1fr 1fr 1fr;
// }

// .column-container-3 {
//   grid-template-columns: 1fr 1fr 1fr;
// }

// .column-container-2 {
//   grid-template-columns: 1fr 1fr;
// }

// .column-1 {

// }