---
layout: default
header_type: full
---
<div class="home-header">
  <h1 class="home-header_intro">A growing list of companies providing an inclusive and safe work environment for people of color in tech.</h1>
  <a class="home-header_learn button-cta" href="/about">Learn more</a>
</div>
<div class="page-body home">
  <div class="companies">
    {% assign companies = site.companies %}
      {% for company in companies %}
        <div class="company-single">
          <a href="{{company.url}}">
            <img class="company-logo" src="{{ company.image }}" alt="{{ company.title }}">
            <h3 class="company-info_title">{{ company.title }}</h3>
            <p class="company-info_description">{{ company.description | truncatewords: 15 }}</p>
            <section class="company-info_footer">
              <ul class="company-info_category">
                {% for category in company.categories %}
                  <li>{{category}}{% unless forloop.last %}, {% endunless %}</li>
                {% endfor %}
              </ul>
              <span class="company-info_read-more">Read more</span>
            </section>
          </a>
        </div>
      {% endfor %}
  </div>
</div>
