<div class="company-results_donation">
  <button class="company-results_donation-close">&#10006;</button>
  <h3>Is this helpful? If so, please consider donating.</h3>
  <div class="company-results_donation-blurb">
    <p>We keep Good for PoC running out-of-pocket and donations help us with operational costs. All donation amounts help, from the cost of a cup of tea/coffee to a new Beyoncé album or the cost of a satisfying meal.</p>
  </div>
  <div class="company-results_donation-button">
    <a class="button-cta" href="https://www.patreon.com/goodforpoc" target="_blank">Donate now</a>
  </div>
</div>
