<footer class="site-footer">
  <ul class="site-social">
    <li>
      <a href="http://www.twitter.com/goodforpoc" target="_blank"><span class="ss-icon">twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/goodforpoc" target="_blank"><span class="ss-icon">facebook</span></a>
    </li>
    <li>
      <a href="mailto:hello@goodforpocin.tech" target="_blank"><span class="ss-icon">mail</span></a>
    </li>
  </ul>
  <p>
    &copy; 2016 Good for POC, a project created by
    <a href="http://amelielamont.com/" target="_blank">Am&eacute;lie Lamont</a>,
    <a href="http://cattsmall.com" target="_blank">Catt Small</a> &amp;
    <a href="http://jacky.wtf/" target="_blank">Jacky Alcin&eacute;</a>
    –
    <a href="/coc" title="Community and Event Code of Conduct">Code of Conduct</a>
  </p>
  <a href="http://goo.gl/forms/91B6qtqK1ddHjxqB3" target="_blank">Submit your company</a>
 </footer>
 {% include script-includes.html %}
