<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="ytPetfQzyoCW5pjcpI0WJ3p_GM3LTaSapcTO0g8quxA" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
  <link rel="stylesheet" href="/css/app.css">

  <!-- Open graph -->
  <meta property="og:url" content="{{ page.url | prepend: site.url}}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:description" content="{{ site.long_description }}"/>
  <meta property="og:image" content="{{"/open-graph-icon.png" | prepend: site.baseurl | prepend: site.url}}"/>

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content="{{ site.long_description }}" />
  <meta name="twitter:image" content="{{"/open-graph-icon.png" | prepend: site.baseurl | prepend: site.url}}" />
</head>
