<header class="site-header">
  <div class="site-topstrip"></div>
  <div class="site-header_wrapper">
    <h1 class="site-logo"><a href="/" title="Good for POC - Home">Good for PoC</a></h1>

    <ul class="site-navigation" data-current="{{ page.url }}">
      <li><a href="/about" title="About Good for PoC">About</a></li>
      <li><a href="/how-it-works" title="How Good for PoC Works">How it Works</a></li>
      <li><a href="/how-to-help" title="How to Help Out">Help Out</a></li>
      <li><a href="http://eepurl.com/bYi3Wb" target="_blank" title="Subscribe to Our Updates">Subscribe</a></li>
    </ul>
  </div>
</header>
