<header class="site-header">
  <div class="site-topstrip"></div>
  <div class="site-header_wrapper">
    <h1 class="site-logo"><a href="/" title="Good for POC - Home">Good for PoC</a></h1>

    <ul class="site-navigation">
      <li><a href="/why" title="Why Good for POC?">Why?</a></li>
      <li><a href="/coc" title="Community and Event Code of Conduct">Code of Conduct</a></li>
      <li><a href="http://eepurl.com/bYi3Wb" target="_blank" title="Subscribe to Our Updates">Subscribe</a></li>
    </ul>
  </div>
</header>
