$clr-dirtBrown: #533e2d;
$clr-leather: #a27035;
$clr-tan: #F1E8DB;
$clr-darkTan: #b88b4a;
$clr-sand: #ddca7d;
$clr-black: #181818;
$clr-grey: #cccccc;
$clr-clearGrey: rgba(44, 44, 44, 0.4);
$clr-pinkishGrey: #cbcbcb;
$clr-warmGrey: #979797;
$clr-mudBrown: #6d4312;
$clr-white: #ffffff;

:root {
  --dirt-brown: #{$clr-dirtBrown};
  --leather: #{$clr-leather};
  --dark-tan: #{$clr-darkTan};
  --sand: #{$clr-sand};
  --black: #{$clr-black};
  --warm-grey: #{$clr-warmGrey};
  --mud-brown: #{$clr-mudBrown};
}
