body, html {
  padding: 0rem;
  margin: 0rem;
  width: 100vw;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-garamondPremierPro;
}

// We're going to have a full-width page.
header {
  background-image: url(../images/header-stripe.svg);
  background-repeat: repeat-x;
  width: 100%;
  height: 2rem;

  &.mini {
    height: 10px;
  }
}

body > section[role] {
  @media (max-width: 800px) {
    & {
      > div.wrapper {
        padding: 0px 10px;
      }
    }
  }
}

section[role=coming-soon] {
  flex: 1;
  background-image: url(../images/coming-soon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
  display: flex;
  flex-direction: column;

  > p {
    flex: 1;
    background-color: rgba(44, 44, 44, 0.4);
    margin: 0rem;
    text-align: center;

    > a {
      @include font-brandon;
      color: #fff;
    }
  }
  
  .photo-credit {
    margin-bottom: 10px;
    
    > a {
      color: #cbcbcb;
    }
  }

  > div.wrapper {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.4);


    > h1 {
      @include font-garamond;
      color: #efefef;
      font-size: 45px;
      margin: 0rem;
    }

    > h2 {
      @include font-brandon;
      color: #533e2d;
      font-variant: small-caps;
      font-weight: 900;
      margin: 0rem;
    }

    > h1, > h2 {
      text-align: center;
    }

    > p {
      color: #efefef;
      text-align: center;
      font-size: 20px;
      max-width: 500px;
    }

    > form {
      input[type=submit], input[type=email] {
        height: 25px;
        width: 275px;
        padding: 10px;
        font-size: 18px;
      }

      input[type=email] {
        background-color: #fff;
        border: none;
        color: rgba(44, 44, 44, 0.4);
      }

      input[type=submit] {
        @include font-brandon;
        letter-spacing: 0.2px;
        font-size: 18px;
        color: #fff;
        height: 45px;
        width: 115px;
        background-color: #a27035;
        border: none;
        box-shadow: 0 3px 0 0 #6d4312;
      }

      @media (max-width: 800px) {
        & {
          display: flex;
          align-items: center;
          flex-direction: column;

          input[type=submit] {
            margin-top: 5px;
            width: 150px;
          }
        }
      }
    }
  }
}

footer {
  @include font-brandon;
  height: 70px;
  background-color: rgba(184, 139, 74, 0.2);
  color: #533e2d;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  a {
    color: #533e2d;
  }
}
