@import "vendor/susy";
@import "vendor/breakpoint";

// Breakpoint sizes
$small: 321px;
$medium: 845px;
$large: 1279px;

// Susy global grid settings
$susy: (
  columns: 24,
  gutters: .25,
  math: fluid,
  output: float,
  gutter-position: inside,
);



// ======================================================
// VARIABLES FOR GENERAL USAGE
// ======================================================
  // Site font stacks
  $sans-serif: "brandon-grotesque";
  $serif: "garamond-premier-pro";

  // Site Container
  $site-container: 75%;

  // Site Colors
  $white: #ffffff;
  $black: #181818;
  $gray: #cccccc;
  $darkgray: #979797;
  $lightgold: #ddca7d;
  $tan: #f1e8db;
  $darktan: #b88b4a;
  $lightbrown: #a27035;
  $brown: #6d4312;
  $darkbrown: #533e2d;

  // Mix-ins for repeating elements
  @mixin site-buttons($radius, $font-size) {
    border-radius: $radius;
    background-color: $lightbrown;
    -webkit-appearance: none;
    box-shadow: 0 3px 0 0 $brown;
    font-family: $sans-serif;
    font-size: $font-size;
    letter-spacing: 1px;
    color: $white;
  }



// ======================================================
// GENERAL STYLING
// ======================================================
  * { box-sizing: border-box; }

  body, html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-size: 16px;
    font-family: $serif;
    color: $black;
  }


  a { color: $darkbrown; text-decoration: underline; }

  hr {
    margin: 50px 0;
    border-top: 1px solid $gray;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  // Typography
  strong, b { font-weight: 700; }
  em, i { font-style: italic; }

  h1 {
    font-size: 42px;
    font-weight: 500;
  }

  h2 {
    font-size: 36px;
    font-weight: normal;
  }

  h3 {
    font-size: 28px;
    font-weight: normal;
  }

  h4 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: normal;
  }

  p {
    font-family: $sans-serif;
    font-size: 1rem; // 16px
    line-height: 1.5;
  }

// ======================================================
// HEADER STYLING
// ======================================================

  // We're going to have a full-width page.
  .site-header {
    width: 100%;
    // height: 96px;
    background: url('../images/g4poc-texture.png');

    .site-topstrip {
      width: 100%;
      height: 10px;
      background-image: url(../images/header-stripe.svg);
      background-repeat: repeat-x;
    }

    .site-header_wrapper {
      @include container($site-container);
      @include breakpoint($medium){ padding: 20px 0; }
    }

    .site-logo {
      margin: 20px 0 10px 0;
      font-family: $sans-serif;
      font-size: 1.6875rem; // 27px
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      color: $darkbrown;
      @include breakpoint($medium){ float: left; margin: 0; }
      a { text-decoration: none; }
    }

   .site-navigation {
      margin: 0;
      padding: 0 0 20px 0;
      list-style: none;
      text-align: center;
      @include breakpoint($medium){ float: right; padding: 8px 0; }

      li {
        display: inline-block;
        font-family: $sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        &+li { margin-left: 10px; }
        a {
          color: $black;
          text-decoration: none;
          padding: 8px;
          transition: all 0.3s;
          border-radius: 4px;

          &:hover, &.active {
            color: $white;
            background-color: $brown;
          }
        }
      }

      &[data-current^="/why"] li a[href^="/why"] {
        @extend a.active;
      }
    }
  }



// ======================================================
// HOME PAGE STYLING
// ======================================================

  .company-single {
    max-width: 300px;
    border: 1px solid #E8E8E8;
    padding: 15px 20px;
    margin-bottom: 30px;
    @include breakpoint($medium){
        @include gallery(6 of 12); // 2 columns of items
    }
    @include breakpoint($large){
        @include gallery(4 of 12); // 3 columns of items
    }

    .company-logo { max-width: 100%; }
    .company-info_title { font-size: 21px; text-align: center; }

    .company-info_footer {
      overflow: auto;
      width: 100%;

      .company-info_category {
        padding: 0;
        margin: 0;
        list-style: none;
        float: left;

        li {
          display: inline-block;
          font-family: $sans-serif;
          font-size: 12px;
          text-transform: uppercase;
          color: #393939;
        }
      }

      &>a {
        float: right;
        font-family: $sans-serif;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }


  }



// ======================================================
// COMING SOON STYLING
// ======================================================

  .coming-soon {
    min-height: calc(100vh - 80px);
    height: 100%;
    background:
      linear-gradient(rgba(44, 44, 44, .5), rgba(44, 44, 44, .5)),
      url('../images/coming-soon.png'); ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;


    .coming-soon--wrapper {
      @include container(80%);
      @include breakpoint($medium){ @include container(500px); }
      padding-top: 10%;

      .coming-soon--logo {
        margin: 0;
        font-family: $sans-serif;
        font-size: 1.6875rem; // 27px
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $darkbrown;
      }

      .coming-soon--title {
        margin: 0;
        font-size: 2.8125rem; // 45px
        font-weight: 500;
        color: $white;
      }

      p {
        font-size: 1.25rem; // 20px;
        color: $white;
      }

      .coming-soon--form {
        input[type=submit],
        input[type=email] {
          height: 45px;
          width: 275px;
          font-size: 18px;
        }

        input[type=email] {
          padding: 15px;
          border: none;
          background-color: $white;
          -webkit-appearance: none;
          font-family: $sans-serif;
          color: #878787;
          &:focus {
            $outline: 1px dotted $gray;
            color: $darkbrown;
          }
        }

        input[type=submit] {
          margin-top: 10px;
          @include breakpoint($medium){ margin-top: 0; }
          width: 115px;
          height: 45px;
          border: none;
          border-radius: 5px;
          background-color: $lightbrown;
          -webkit-appearance: none;
          box-shadow: 0 3px 0 0 $brown;
          font-family: $sans-serif;
          font-size: 18px;
          letter-spacing: 1px;
          color: $white;
          &:hover {
            cursor: pointer;
            background-color: $darktan;
            box-shadow: 0 3px 0 0 $lightbrown;
          }
          &:active {
            background-color: $brown;
            box-shadow: 0 3px 0 0 $darkbrown;
            outline: none;
            color: $lightgold;
          }
          &:focus {
            outline: 1px dotted $darkbrown;
          }
        }
      }

    }

  .coming-soon--img-credit a {
    font-family: $sans-serif;
    font-size: 0.875rem; // 14px
    color: #CBCBCB;
  }
}



// ======================================================
// GENERAL PAGE STYLING
// ======================================================

  .page-body {
    margin-top: 50px;
    @include container($site-container);
    @include breakpoint($large){ @include container(960px); }

    &>p { font-size: 1.25rem; } // 20px
  }



// ======================================================
// HOME STYLING
// ======================================================
  .home-header {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url('../images/home-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // @include breakpoint($large){ height: 450px; }

    .home-header_intro {
      @include container($site-container);
      @include breakpoint($large){ @include container(780px); }
      margin-bottom: 35px;
      font-size: 40px;
      font-weight: normal;
      text-align: center;
      color: $white;
      @include breakpoint($medium){ font-size: 2.8125rem; }
    }
    .home-header_learn {
      display: block;
      width: 180px;
      margin: 0 auto;
      padding: 15px 30px;
      border-radius: 5px;
      box-shadow: 0 3px 0 0 $brown;
      background-color: $lightbrown;
      font-family: $sans-serif;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.0125rem;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }
  }



// ======================================================
// COMPANY PAGE STYLING
// ======================================================

  .company-header {
    @include breakpoint($medium){ @include container(6); }
    ul { margin: 10px 0; padding: 0; list-style: none; font-family: $sans-serif; }
    .company-logo {
      max-height: 250px;
      margin: 0rem auto;
      display: block;

      @include breakpoint($medium){ @include span(first 1 of 6); margin-bottom: 0px; }
    }
    .company-info {
      text-align: center;
      @include breakpoint($medium){
        text-align: left;
        @include span(2 of 6);
      }
      .company-info_title { margin: 0 0 5px 0; }
      .company-info_rating { color: #f5dd7d; }
      .company-info_category li {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $darkgray;
      }
      .company-info_items { margin-top: 15px; li { margin: 5px 0; } }
    }
    .company-info_description {
      @include breakpoint($medium){
        @include span(last 3 of 6);
        margin: 0;
      }
      margin: 45px 0 35px;
    }
  }

  .company-results {
    @include breakpoint($medium){ @include container(6); }
    font-family: $sans-serif;
    font-size: 18px;
    .company-results_benefits {
      @include breakpoint($medium){ @include span(first 2 of 6); }
    }

    .company-results_happiness {
      @include breakpoint($medium){ @include span(last 4 of 6); }
    }

    .company-results_nextsteps {
      @include breakpoint($medium){ @include span(6 of 6); }
      margin-bottom: 30px;
    }

    h2 {
      max-width: 390px;
      margin: 50px auto 35px auto;
      padding: 10px 0;
      background-color: $darkbrown;
      font-family: $sans-serif;
      font-size: 19px;
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      color: $white;
      clear: both;
    }

    h3 { margin: 35px 0 20px 0; font-family: $serif; font-size: 24px; }
    div>p { font-size: 18px; }

  }



  header[role=company] {
    > section {
      display: inline;
    }
    > section[role=graphics], > section[role=colophon] {
      width: 25%;
    }


    > section[role=graphics] {
      > img {
        margin: 0rem auto;
        height: 155px;
        display: block;
      }
    }

    > section[role=blurb] {
      width: 50%;
    }
  }

  .company-image-wrapper {
    @include span(first 1 of 6);
    min-height: 5rem;

    img { margin: 0rem auto; }
  }

  .company-colophon-wrapper {
    @include span(2 of 6);
    min-height: 5rem;

    h2 { margin-top: 0.1rem; }
  }

  .company-blurb-wrapper {
    @include span(last 3 of 6);
    min-height: 5rem;
  }

  .company-star-wrapper {
    display: block;
    color: $lightgold;
    font-size: 2rem;
  }

  .company-field {
    margin: 1px 0rem;
  }




// ======================================================
// ABOUT STYLING
// ======================================================

  .creator {
    margin-bottom: 10px;
    padding: 10px;
    max-width: 275px;
    font-family: $sans-serif;
    &+.creator { margin-top: 20px;
      @include breakpoint($medium){ margin-top: 0; }
    }

    @include breakpoint($medium){
        @include gallery(4 of 12); // 3 columns of items
    }

    .creator-title {
      margin-bottom: 10px;
      font-size: 1.125rem; // 18px
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .03125rem; // .5px
    }
    .creator-img { max-width: 100%; }

    .creator-bio {}
    .creator-website { margin-bottom: 15px; }
    .creator-social {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        &+li { padding-left: 10px; }

        a {
          color: $darktan;
          text-decoration: none;
         }
      }
    }
  }



// ======================================================
// COC STYLING
// ======================================================
.coc {
  ul { margin-top: 0; font-size: 18px; font-family: $sans-serif; }
}



// ======================================================
// FOOTER STYLING
// ======================================================
  .site-footer {
    height: 100%;
    // margin-top: 75px; //please uncomment when we go live
    padding: 20px 60px;
    background: url('../images/g4poc-texture.png');
    font-family: $sans-serif;
    color: $darkbrown;
    text-align: center;
    @include breakpoint($medium){ height: 70px; padding: 5px 0; }

    p { display: inline-block; margin: 0; }

    &>a {
      margin-top: 10px;
      margin-left: 10px;
      padding: 10px;
      display: inline-block;
      border-radius: 5px;
      background: rgba(184, 139, 74, 0.5);
      text-decoration: none;
    }

  }
