// FIXME: Figure out link underline trick.

$font-brandonGrotesque: "brandon-grotesque";
$font-garamondPremierPro: "garamond-premier-pro";

@mixin font-garamond {
  font-family: $font-garamondPremierPro;
}

@mixin font-brandon {
  font-family: $font-brandonGrotesque;
}
