---
layout: default
header_type: full
---

<div class="page-body">
<header class="company-header">
  <img class="company-logo" src="{{ page.image }}" alt="" />

  <div class="company-info">
    <h2 class="company-info_title">{{ page.title }}</h2>
    <div class="company-info_rating">
      {% for count in (1..page.rating) limit:5 %}&#x2605;{% endfor %}
    </div>
    <ul class="company-info_category">
      {% for category in page.categories %}<li>{{category}},</li> {% endfor %}
    </ul>

    <ul class="company-info_items">
      <li><strong>Location:</strong> {{ page.location }}</li>
      <li><strong>Company Size:</strong> {{ page.size }}</li>
      <li><strong>Website:</strong> {{ page.website }}</li>
    </ul>
  </div>

  <div class="company-info_description">
    <h5>Description:</h5>
    <p>company description goes here</p>

    <!-- Should be wrapped in an if tag <strong>Editor's Note:</strong> -->
  </div>
</header>

<hr>

{{content}}

</div>