---
layout: default
---
{{content}}
<header class="company-header">
  <div class="company-image-wrapper">
    <img src="{{ page.image }}" />
  </div>
  <div class="company-colophon-wrapper">
    <h2>{{ page.title }}</h2>
    <div class="company-star-wrapper">
      {% for count in (1..page.rating) limit:5 %}&#x2605;{% endfor %}
    </div>
    <strong class="company-category">
      {% for category in page.categories %}{{category}}, {% endfor %}
    </strong>
    <p class="company-field"> <strong>Location:</strong> {{ page.location }}
    </p>
    <p class="company-field">
      <strong>Company Size:</strong> {{ page.size }}
    </p>
    <p class="company-field">
      <strong>Website:</strong> {{ page.website }}
    </p>
  </div>
  <div class="company-blurb-wrapper">
    <div class="company-field-extended">
      <strong>Description:</strong>
      {% contentblock description %}
    </div>
    {% ifhascontent editors-note %}
      <p class="company-field">
        <strong>Editor's Note:</strong>
        {% contentblock editors-note %}
      </p>
    {% endifhascontent %}
  </div>
</header>
<hr>
