<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.body_class }}">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include header.html %} 
    {{ content }}
    {% include footer.html %}

    <script src="https://use.typekit.net/zfc4ovk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="//cdn.symbolset.com/1730c71abf23e85a2698297467581901a5b0f849/symbolset.js"></script>
  </body>
</html>
