<div class="home-header">
  <h1 class="home-header_intro">The Next Generation of GoodForPoc</h1>
  <a class="home-header_learn" href="/about">Learn more</a>
</div>
<div class="page-body home">
  <p>
    <b>GoodForPoc</b> is now open.
  </p>

</div>
