<section class="page-body home">
  <header class="home-header">
    <h1 class="home-header_intro">The Next Generation of GoodForPoc</h1>
    <a class="button button-primary" href="/about">Learn more</a>
  </header>

  <p>
    <b>GoodForPoc</b> is now open.
  </p>
  <label class="checkbox" for="check">
    <input type="checkbox" id="check">
    <span>Test</span>
  </label>

  <span class="label">Radios</span>
  <label class="radio" for="radio1">
    <input type="radio" name="radio" id="radio1" value="1">
    <span>Test</span>
  </label>
  <label class="radio" for="radio2">
    <input type="radio" name="radio" id="radio2" value="2">
    <span>Test</span>
  </label>
</section>
