<div class="home-header">
  <h1 class="home-header_intro">Intro.</h1>
  <a class="home-header_learn button-cta" href="/about">Learn more</a>
</div>
<div class="page-body home">
  <div class="companies">
  </div>
</div>
